[2015-04-20 17:04] hobodave opened #10 "Incompatibilities with fakeredis"
@leandromoreira Is there a strong reason or preference for using the `Redis::Client#call` methods directly for the `:set` and `:eval` commands? Specifically these:

#### redlock/client.rb
[code]

I ask because this method of using the `Client#call` directly is causing compatibility issues with the fakeredis gem. Specifically, the `#lock` call is returning 0 when used with fakeredis, but it returns

[2015-04-20 20:05] leandromoreira commented on #10
By looking at redis source code it seems that `set` is already doing `call`: https://github.com/redis/redis-rb/blob/179a6c441f4d737c7b0ff731d593d4b6ab4d62c9/lib/redis.rb#L662

As well as `eval` does too: https://github.com/redis/redis-rb/blob/b1a619dc24de7db030be898f24c30b397838037b/lib/redis/distributed.rb#L823

For me it's okay! what you do think @maltoe ?

[2015-04-20 20:17] hobodave commented on #10
Thanks @leandromoreira. I also just noticed something else that also seems to support this change: all calls to `Redis::Client#call` within the `Redis` class utilize a `Mutex` to prevent multiple threads from executing `Client#call` at the same time. By using `Redis::Client` directly we avoid that and potentially have issues with multi-threaded use.

[2015-04-21 02:08] leandromoreira commented on #10
Solved by https://github.com/leandromoreira/redlock-rb/pull/11 thanks again @hobodave  :cake:

[2015-04-21 02:08] #10 closed

[2015-07-13 23:40] lellisga opened #14 "It Do not lock the resource nor it stores anything to Redis"
1. I'm opening 2 rails consoles that are using the same redis instance
2. I run redis-cli and run the monitor command

It doesn't seems to lock, and it doesn't seems to store into redis. I'm I missing something?

# rails console #1

    rl = Redlock::Client.new([ "redis://127.0.0.1:6397" ])
    me = rl.lock("lellisga", 2000000)
    #=> {:validity=>1979998, :resource=>"lellisga", :value=>"1b5e0a18-

[2015-07-14 01:27] leandromoreira commented on #14
Hi @lellisga, yeah it should be, I'm gonna try to simulate what you've described. But at the same time try to test as it's coded down bellow. @maltoe this is really strange.

`vars`
[code]
`block`
[code]

[2015-07-14 01:44] leandromoreira commented on #14
I think I know what is happening, it seems that we aren't checking if the key is locked before `set` new value. :disappointed: although we need to investigate it further

https://github.com/leandromoreira/redlock-rb/blob/master/lib/redlock/client.rb#L81

[2015-07-14 01:49] leandromoreira commented on #14
looking at docs, it should work as expected http://redis.io/commands/SET anyway, I'll test it later

[2015-07-14 02:03] leandromoreira commented on #14
@lellisga I couldn't replicate this issue!
http://s30.postimg.org/aznawtcgx/Screen_Shot_2015_07_13_at_11_00_05_PM.png

![test](http://s30.postimg.org/aznawtcgx/Screen_Shot_2015_07_13_at_11_00_05_PM.png)

[2015-07-14 02:09] leandromoreira commented on #14
@lellisga didn't you make a typo on port, putting `6397`  instead of `6379` ?

[2015-07-14 03:21] lellisga commented on #14
@leandromoreira I checked the typo, I have the same issue:

# console 1
     ps ax | grep redis
    39865   ??  S      0:01.15 redis-server 127.0.0.1:6379

# console 2
[code]

# console 3
[code]

[2015-07-14 03:23] leandromoreira commented on #14
@lellisga can you try to run the tests? by the way, what is the version of your redlock?

[2015-07-14 03:29] lellisga commented on #14
[code]

[2015-07-14 03:51] lellisga commented on #14
Finished in 2.45 seconds (files took 1.09 seconds to load)
12 examples, 0 failures

[2015-07-14 03:52] leandromoreira commented on #14
@lellisga it doesn't make any sense :disappointed:  , it's too late in here but I'll try to double check this out.

[2015-07-14 03:54] lellisga commented on #14
@leandromoreira thanks! I'm still checking as well, I think is a redis problem.

[2015-07-14 05:41] lellisga commented on #14
solved: I had fakeredis on my gemfile, this was blocking the storage to redis. Thanks for your help!

[2015-07-14 05:41] #14 closed

[2015-08-10 19:40] stephankaag opened #15 "How to use with Redis sentinel?"
It's a bit unclear how to use this gem with Redis sentinel. I think I should pass the Redis master ip in the initializer (and not the sentinels-ips)?

And am I right that i need to update my code when the Redis master changes? (Since writes can only be done on master)

[2015-08-11 01:49] leandromoreira commented on #15
I think @hobodave can help you out! :) He done this awesome patch.

[2015-08-12 12:58] stephankaag commented on #15
@hobodave ?

[2015-08-13 08:42] stephankaag opened #16 "TTL question"
What happens if TTL < (retry_count * retry_delay)?

[2015-08-13 14:53] leandromoreira commented on #16
@stephankaag you can fine tune each one of these parameters.

They do have default values https://github.com/leandromoreira/redlock-rb/blob/6671b35a7f9126f6f23a357ac39205526766ee9a/lib/redlock/client.rb#L8-L9 (count*delay) which gives 600ms and the default TTL being 100ms.

### TTL in default case is smaller than (retry_count * retry_delay).

Let's suppose a user A and user B:

*  *A* acquires the

[2015-08-13 18:37] maltoe commented on #16
@stephankaag To add on to what @leandromoreira has already said, the TTL applies only to the lock itself. It's the maximum time frame the lock is held before it's released automatically by Redis key expiration, minus the time it took to acquire the individual Redis locks. Retrying after lock acquiring failure only helps avoiding lock congestion, but has nothing to do with the TTL.

[2015-08-13 18:45] maltoe commented on #15
@stephankaag I haven't used Sentinel myself so far, but I figure it's some kind of HA solution + auto-configuration tool specific to Redis? The Redis gem provides [some information](https://github.com/redis/redis-rb#sentinel-support) about how to instantiate a Redis connection through sentinel, and you can use that to initialize the redlock as well, by just passing it to the [Redlock constructor](

[2015-08-13 19:49] stephankaag commented on #15
Yeah, that's actually what i'm using right now. But since this way only passes one server to the initializer @servers.size will be one and that defeats the whole purpose of redlock if I understand correctly

[2015-08-14 01:21] leandromoreira commented on #15
yep I think you're right @stephankaag , since you'll have HA you can use it directly to lock and unlock although I really don't know how Sentinel works (how does it chose which one is the master, how does it recovery from network/data partition, how does it replicate data...).

[2015-08-14 05:36] stephankaag commented on #15
Redlock is an (improved) alternative for using locks with replication. See http://redis.io/topics/distlock

So Redlock can, by definition, never be compatible, or 'work seamlessy' with Redis sentinel.

[2015-08-14 12:02] maltoe commented on #15
Depending on how strict you're requirements are, I would say. You can perfectly use Redlock in the single instance case, as well. But I too see that you're falling into the "Why failover-based implementations are not enough" section of the distlock article.

[2015-08-14 12:26] leandromoreira commented on #15
:clap:  :clap:  :clap: @maltoe

I also would like to leave two links in here: (maybe a lock with redis is not enough for you)

*  [Redit discussions about how reliable redis is for locking porpuse](https://www.reddit.com/r/programming/comments/2nt0nq/distributed_lock_using_redis_implemented_in_ruby/)
* [Call me later Redis](https://aphyr.com/posts/283-call-me-maybe-redis)

[2015-10-09 20:54] leandromoreira opened #25 "Migrate travis to container-based infrastructure"
http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade

[2015-10-09 22:20] #25 closed

[2015-10-13 02:02] #16 closed

[2015-10-13 02:02] #15 closed

[2015-11-09 13:57] lhz opened #26 "Wrong exception class in README"
The README has an example with `rescue Redlock::LockException`, but this class doesn't exist, it is should be `rescue Redlock::LockError`.

[2015-11-09 16:07] #26 closed

[2015-11-11 15:30] seamusabshere opened #27 "doesn't recover from NOSCRIPT"
`Redis::CommandError: NOSCRIPT No matching script. Please use EVAL.`

it should re-run `load_script`

[2015-11-13 09:10] maltoe commented on #27
True, although according to [the `SCRIPT LOAD` docs](http://redis.io/commands/script-load) the scripts are "guaranteed to stay in the script cache forever" (no kidding, "forever"), unless someone calls `SCRIPT FLUSH`.

@seamusabshere Did you flush the script cache or did you experience this in some other way?

[2015-11-13 16:09] #27 closed

[2015-12-24 19:33] ckarbass opened #31 "Feature suggestion: resource locked and time left on lock"
Feature suggestion:
Method that tells you if a resource is locked and how much time is left on the lock without having to lock the actual resource.

[2016-01-05 18:51] leandromoreira commented on #31
Hey @ckarbass that would be easy since we already have that info, but why would like to have that?

[2016-01-06 02:49] inventionlabsSydney opened #32 "Feature suggestion: Extending lock life"
Hi,
One of the benefits of using mlanett-redis-lock is that is you can extend the lock life from internally in the lock, this is useful when iterating over an unknown amount of information/data.
However we use RedLock because we don't have to do blocks which is important to us.

I'd like to include this into RedLock, am I allowed to fork and add this?

--Karl.

[2016-01-06 13:27] leandromoreira commented on #32
PR's are welcome :smile:

[2016-02-15 20:46] seamusabshere commented on #32
hi @inventionlabsSydney @leandromoreira i believe this is the `extend` option that was added in https://github.com/leandromoreira/redlock-rb/commit/ab35f4432e1c50a78921a1974bdddce929faa35d

[code]

notice that you need the original lock info in order to extend it.

[2016-02-24 19:38] awead opened #33 "Question: Redis 2.4 unsupported?"
When using redlock with Redis 2.4, I'm seeing:
[code]
It looks like redlock is using script commands and features that were implemented in 2.6, and would not be compatible with prior versions. Is that correct?

[2016-02-25 10:38] maltoe commented on #33
Yes.

`script` is used to have the ["unlock script"](https://github.com/leandromoreira/redlock-rb/blob/master/lib/redlock/client.rb#L77-L83) conditionally delete the lock ley if the value matches. This needs to be done in an atomic fashion. For Redis < 2.6, this could theoretically be replaced with the then already existent [`WATCH` command](http://redis.io/commands/watch) and a transaction, but I

[2016-02-25 14:38] awead commented on #33
I agree. I just wanted to make sure this was the issue.

We're stuck with 2.4 at the moment because we're on RedHat EL6. EL7 has 2.8, though. It's not a blocker for us yet. We have a few months to figure out a solution and if worst comes to worst, we can always build our own version.

If you'd like, I can put in a PR that explains this in the README.

[2016-02-25 15:04] leandromoreira commented on #33
sure thing @awead go ahead :smile:

[2016-02-25 18:01] #33 closed

[2016-03-30 20:45] mwpastore opened #35 "Allow non-expiring locks?"
It doesn't seem necessary to mandate a TTL when using the block form (`#lock` and `#lock!`). Naturally, you want it to hold the lock until the block finishes executing, however long that might be. The `ensure` in `#lock` will make sure it's unlocked if the block raises an error. Am I missing something?

I'd be happy to take a stab at a PR if we think this makes sense. My only questions are 1) how

[2016-03-30 20:55] mwpastore commented on #35
Ah, it looks like I am fundamentally misunderstanding the Redlock algorithm. Lock expiry appears to be a necessary component. Maybe I can spin off a background thread that periodically extends the lock as long as the block is running...

Closing this issue. Sorry for the noise.

[2016-03-30 20:55] #35 closed

[2016-04-14 04:25] inventionlabsSydney commented on #32
Perfect! Thanks @seamusabshere

[2016-04-14 04:25] #32 closed

[2016-05-09 14:29] #31 closed

[2016-05-19 20:47] jonp opened #36 "Lock extension via lock method allows extending expired locks"
If your code allows the lock to expire and then you call `lock` to extend the life of the lock, it will allow it. It would be really handy to have it fail if the lock was allowed to expire. This has been added to the [node](https://github.com/mike-marcacci/node-redlock) and [.NET](https://github.com/samcook/RedLock.net) versions of the algorithm, so there's some precedent.

[2016-05-19 20:55] jonp commented on #36
I just submitted pull request #37 to add extend functionality. Let me know if you need anything else!

[2016-05-19 21:13] leandromoreira commented on #36
Thanks @jonp isn't this already done at https://github.com/leandromoreira/redlock-rb/issues/32  ?

[2016-05-20 04:05] jonp commented on #36
Well, not quite. It lets you extend a lock that has been expired. Consider this script:

[code]

Note that the line `mgr.lock(key, 2, extend: locked)` successfully acquires the lock even though the lock is already expired, which is not necessarily wrong; just surprising. My addition of `extend` is based on my assumption that that behavior was desired and that a separate call was needed rather than

[2016-05-20 13:23] leandromoreira commented on #36
you got a point

[2016-05-20 13:25] leandromoreira commented on #36
#37

[2016-05-20 13:25] #36 closed

[2016-05-20 13:44] leandromoreira opened #38 "provide documentation to new method extend_life"
Doc the [extend_life](https://github.com/leandromoreira/redlock-rb/blob/faf578ba2788f3de2a5126a256f8b2383e4f3965/lib/redlock/client.rb#L55)

[2016-05-20 16:23] jonp commented on #36
Hi Leandro,

Thanks for taking my pull request for lock extensions!
I’m wondering whether you’d be interested in a pull request to redlock-rb that would make it ruby-1.9-compatible.

- Jon Phillips

[2016-05-20 16:31] leandromoreira commented on #36
This is something we [already discussed](https://github.com/leandromoreira/redlock-rb/pull/13) @maltoe but maybe for Ruby-1-9 is reasonable. What do you think @maltoe ?

[2016-05-20 16:55] jonp commented on #36
Yes, 1.9.3 is quite old, but lots of people are stuck on it for various reasons. I found that this gem's incompatibility with 1.9.3 is just a couple of uses of keyword parameters and a `%i`...about 5 minutes worth of fiddling to make it work.

[2016-05-20 17:45] leandromoreira commented on #36
I'm okay @jonp :)

[2016-05-20 19:50] seamusabshere commented on #36
@jonp @leandromoreira i contributed the lock functionality and this is an error on my part:

i would prefer that the original extend functionality be fixed instead of adding another complete, but slightly different implementation

[2016-05-20 19:54] jonp commented on #38
Added pull request #40

[2016-05-20 20:27] jonp commented on #36
@seamusabshere that works for me.

[2016-05-20 20:54] leandromoreira commented on #36
Great idea! Cool Thank you so much @seamusabshere 🍻

[2016-05-20 20:55] leandromoreira commented on #38
Thanks

[2016-05-20 20:55] #38 closed

[2016-05-20 20:56] leandromoreira opened #41 "Fix extend and remove extend_life"
Thanks @seamusabshere for pointing it out.

[2016-05-20 20:56] leandromoreira commented on #41
https://github.com/leandromoreira/redlock-rb/issues/36#issuecomment-220702332

[2016-05-24 09:55] maltoe commented on #41
https://github.com/leandromoreira/redlock-rb/pull/42

[2016-05-24 12:39] leandromoreira commented on #41
🚀

[2016-05-24 12:39] #41 closed

[2016-07-22 09:29] thbar opened #44 "extend_life interprets TTL as seconds rather than milliseconds (0.1.8, fixed on master)"
I'm rather new with redlock-rb so bear with me :smile:

While doing extensive tests I _think_ I stumbled upon a bug on version 0.1.8 (I'm using redis 3.0.7 and ruby 2.2.3 on that specific test).

I believe when `extend_life: true` is passed, 0.1.8 interprets the TTL value as seconds, rather than milliseconds. Master (commit 7d9c91a537b70f730b258b54fbd360109dd7ce0b) will interpret the value as mill

[2016-07-22 09:32] thbar commented on #44
Suggestion : we could have tests relying on some range of the pttl value to avoid regressions on that!

[2016-07-22 09:35] thbar commented on #44
One last note: while doing those tests I also noticed that extend life will actually reset the TTL (but not increase it). This could also be tested and added to the documentation as well (since it wasn't clear at all if the extension would add to the existing TTL, rather than replace it). Just a thought!

[2016-07-22 16:54] maltoe commented on #44
@thbar You're right. Good catch. In 0.1.8 the script still uses the Redis `EXPIRE` command which takes a millisecond parameter, and on master we made lock + extend use the same script with Redis `SET` command and `PX` parameter to expire keys, which takes seconds.

@leandromoreira What do you think? The version on master could break clients "relying" on this behaviour of `extend` in the released v

[2016-07-22 18:29] leandromoreira commented on #44
Thanks @thbar great catch!

Yes 👍

[2016-07-23 07:09] thbar commented on #44
@maltoe I'll be writing those specs, and maybe ask a few questions in the PR (ex: `extend_life` vs. `extend_only_if_life` difference, etc!).

[2016-07-23 08:09] thbar commented on #44
@maltoe here is the PR - #45. I'll work on a README update later in the week-end. Feel free to comment on the PR itself!

[2016-08-29 09:49] alor opened #47 "lock_info not passed to lock!() block"
the doc says:

[code]

but i'm getting always nil into lock_info, so the lock is not extended...
maybe to culprit is a yield in lock!() that does not pass the lock_info got from lock().

can you confirm?

[2016-09-01 09:05] maltoe commented on #47
You're right.

Care to send in a patch incl. test case? Or a patch to remove that section from the docs :) imho the block syntax in combination with extending the lock is kind of weird anyway

[2017-02-03 10:49] leandromoreira opened #50 "Uses monotonic time"
I was reading [Antirez 101](http://antirez.com/news/101) and it came to my mind that we're using `Time.now` and we should be using a [monotonic clock](https://linux.die.net/man/3/clock_gettime) and I was looking [this implementation](https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/utility/monotonic_time.rb) that works with cruby, jruby and etc. Thoughts?

[2017-02-09 12:11] florrain opened #51 "Unlock without the lock info"
Hi there,

I'm using the gem in a distributed infra including multiple APIs where one endpoint would lock and a different endpoint would later unlock.

Is that possible to unlock with just providing the lock name and not the entire hash? I tried to test that but it didn't seem to work.

Thanks

[2017-02-09 13:34] ryansch commented on #51
Have you looking into using consul locking?  This sounds like a use case that might fit that better.

[2017-02-09 13:50] maltoe commented on #51
And no, with redlock you would need to supply both the lock name and the randomly created secret from the lock creator.

But I agree with @ryansch that this is unlikely to be the right tool for your requirements.

[2017-02-09 14:41] florrain commented on #51
Hmm can you describe what you mean by consul locking? Is the gem supporting
that type of lock?
Le jeu. 9 févr. 2017 à 14:34, Ryan Schlesinger <notifications@github.com> a
écrit :

[2017-02-10 12:35] florrain commented on #51
Missed your message @maltoe - sounds like I'm using the wrong tool then. Consul is not part of the infrastructure I'm working on and I'd like to avoid any kind of extra complexity if possible.

Would you say Redis locks in general are not adapted for that scenario?
Or is it that Redlock doesn't implement this feature?

[2017-02-10 16:07] maltoe commented on #51
I'd say it's just not the usual "distributed lock" / mutual exclusion problem that redlock is designed to solve. What your describing sounds more like a "pass the staff" problem. One actor is working on a problem, then another continues to solve it? Sounds to me more like a message passing thing, maybe some kind of centralized message queue?

Then again I don't know how your requirements look like

[2017-02-10 16:17] ryansch commented on #51
It's always a good idea when using locks to try and keep the "critical section" (the part you're locking) as small and fast as possible.  You can usually change your algorithm to just set a guard variable in the critical section and then drop the lock.  That will still keep other concurrent actors from starting the piece of code you're protecting with the guard but it means you don't have to hold

[2017-02-13 14:26] florrain commented on #51
@maltoe I'm trying to achieve exactly what you're pointing out.

In a checkout flow where you have a cart and a payment page, I want to protect that cart from being amended by other browser web tabs/clients (like mobile) while a payment attempt is happening.
So during a payment attempt (that is handled by a third party service on their domain), we would lock the cart before the HTTP redirection an

[2017-02-19 14:28] maltoe commented on #51
@florrain Yeah, I wouldn't. Store that data next to your other domain data.

Imho your use case seems to be more complex than what this gem is designed for. The cart protection is of course a mutual exclusion problem, but is it not so much about multiple actors accessing the same (simple) shared resource, but about that resource having a lot of state that the actors need to care about. In other wo

[2017-02-20 09:40] florrain commented on #51
It makes sense @maltoe, I think I may have an idea of the implementation I'll have to dig in a little bit more deeper but all of the feedback here was very helpful to give me the direction I need to go.

So thank you! I'm closing the issue.

[2017-02-20 09:40] #51 closed

[2017-02-20 10:07] maltoe commented on #50
Sounds good to me. Although to be honest I didn't fully get why this is needed in both redlock and redis.

About the implementation: Yes and no. Looks good, but I'd rather not have this gem depend on `concurrent-ruby` and would also not like to duplicate this functionality here, especially not the ruby implementation. How about some simpler solution that uses `CLOCK_MONOTONIC` if available (on MRI

[2017-02-20 13:59] leandromoreira commented on #50
Sounds great!!!

I think it's because time (not being monotonic) can go back in time, a.k.a. user1 ask time gets 10 user2 ask time gets 9, there is no  order guarantee.

[2017-05-12 07:37] Alexand opened #52 "misleading typo in README"
`retry_timeout` should be `redis_timeout`

[code]

[2017-05-12 09:36] #52 closed

[2017-07-04 22:01] shaug opened #53 "Use of mathn and a single server prevents the ability to acquire a lock resource"
If the `mathn` library is being used with redlock-db, and only a single server is being tested, then the `@quorum` variable will have a rational value of `(3/2)`, rather than the integer value `1`, which means that there will never be a quorum of servers that agree.

To avoid this, quorum can be initialized more explicitly like so:

[code]

See this ruby-lang bug for more information:

https://bug

[2017-07-04 22:40] leandromoreira commented on #53
Thank you @shaug but I don't think we use this lib (`mathn`), am I right? @maltoe

[2017-07-04 23:31] shaug commented on #53
No, but if it's used in a project where `mathn` is included, then `redlock` will be affected.

[2017-07-05 00:01] leandromoreira commented on #53
my bad 😃

[2017-07-10 09:03] #53 closed

[2017-07-10 09:05] maltoe commented on #53
What a braindead behaviour... `mathn` is deprecated now, but given this was such an easy fix, why not.

[2017-09-12 16:46] light94 commented on #47
@maltoe , I want to work on this. The snippet you provided above serves  the same purpose as the example in the doc. Would you like to have this functionality in lock! or should I remove it from the docs?

[2017-09-14 16:35] geekscruff opened #54 "Redis error message"
We're using redlock in [Hyku](https://github.com/samvera-labs/hyku) and [Hyrax](https://github.com/projecthydra-labs/hyrax) and I keep seeing the following:

Passing 'script' command to redis as is; administrative commands cannot be effectively namespaced and should be called on the redis connection directly; passthrough has been deprecated and will be removed in redis-namespace 2.0 (at /usr/local

[2017-10-02 09:19] maltoe commented on #54
Agree with Mike Perham when he says (in the linked issue),

Don't think we should change anything in `redlock`. `redis-namespace` doesn't seem to be a good idea in general. Plus, given they made their API to be a "drop-in" replacement for the vanilla `redis` library, let them deal with the outfall when they remove `script`.

So @geekscruff, we're kind of expecting the redis instances passed in to

[2017-10-02 16:50] geekscruff commented on #54
@maltoe we've had some further discussions about this and the consensus is to deprecate the use of `redis-namespace` in Hyrax.

[2017-10-05 21:42] fabioperrella opened #55 "Are you using this gem in production?"
Hi folks!

Are you using this gem in production?

Is it trustworthy to use it?

[2017-10-06 10:06] maltoe commented on #55
The gem implements an algorithm created by @antirez, specifically designed to handle distributed lock scenarios (i.e., multiple Redis servers that you need to synchronize). It does work well with a single Redis instance, too, although in that case it would even be pretty simple to just roll your own locking.

* @antirez first described the algorithm [here](https://redis.io/topics/distlock), togeth

[2017-10-06 10:11] maltoe commented on #55
Maybe one more thing: The implementation itself is a short and entertaining read, in my opinion. So if you would like to audit it, please go ahead... :beer:

[2017-10-06 10:26] antirez commented on #55
That's a very informative answer provided by @maltoe  :-) Basically I never received a report of failure of Redlock in the real world even if the algorithm is used by many in production. The theoretical safety received some analysis so it boils down to what you think after reading the analysis, however setting up good ntpd is a good idea.

[2017-10-06 15:34] erickrause commented on #55
I use it in production as well as part of my activejob-locks gem.

[2017-10-06 16:27] ryansch commented on #55
Yep we've been using it in production with sidekiq for quite some time now.

[2017-10-06 22:36] fabioperrella commented on #55
Nice, thank you guys!

[2017-10-09 13:25] fabioperrella opened #56 "Change the block behavior to return the yield return"
Hi,

when I was trying to use the lock passing a block, I noticed the [method doesn't return the block return](https://github.com/leandromoreira/redlock-rb/blob/master/lib/redlock/client.rb#L53).

Before the use of lock, I had a method like this:

[code]

And I tryed to do something this:
[code]

But it was not possible because the `lock` method [returns a boolean](https://github.com/leandromoreir

[2017-10-10 09:58] maltoe commented on #56
Hi @fabioperrella

Your proposed behaviour certainly would be more ruby idiomatic, and I can't really think of a reason why we currently return a boolean from this method. However, changing behaviour would break backwards compatibility and require a major version bump, etc., and the benefits of introducing this change would need to outweigh the impact of breaking existing API, which I don't think

[2017-10-10 12:44] fabioperrella commented on #56
I don't think bumping the major is a problem, it's possible to add a [CHANGELOG](http://keepachangelog.com/en/1.0.0/) and let this modification visible to everyone.

But if you prefer this way, ok!

[2017-10-10 18:08] maltoe commented on #56
Didn't say it's a problem, just a bit of work and potential for confusion ;-)

[2017-10-10 18:08] #56 closed

[2017-11-12 18:59] #55 closed

[2017-12-15 12:38] misku opened #58 "Breaking change in `lock_instances` from `0.1.8`"
The line in current `master`:
https://github.com/leandromoreira/redlock-rb/blob/master/lib/redlock/client.rb#L166

is a breaking change from `0.1.8`:
https://github.com/leandromoreira/redlock-rb/blob/0.1.8/lib/redlock/client.rb#L176

Old behavior: if `:extend` key exists but is `nil`, `SecureRandom.uuid` will be returned.
New behavior: if `:extend` key exists but is `nil`, `nil` will be returned,

[2017-12-22 09:55] maltoe commented on #58
Hey @misku

Nope, can't say there was intentional design in this change, merely personal taste.

tbh, I don't feel this is really breaking the 0.1.8 API, though. `lock` method doc [clearly states](https://github.com/leandromoreira/redlock-rb/blob/master/lib/redlock/client.rb#L43), that `:extend` should be a lock struct to extend. I assume you've been relying on this somehow so that your initial `l

[2017-12-22 09:59] #58 closed

[2017-12-22 10:05] maltoe commented on #58
Yay @leandromoreira I recovered my rubygems account :-) finally

[2017-12-22 10:05] maltoe commented on #58
released 0.2.2

[2017-12-22 10:20] misku commented on #58
Hi @maltoe,

it's actually true. `:extend` is optional, but if it's there it should not be `nil`. I just wanted to point out that the behavior has changed when (apparently not correctly) an `:extend` is passed which is `nil`.

Thanks for the explanation!

[2017-12-22 10:53] maltoe commented on #58
Yeah, but it's back anyway :-)

merry christmas

[2017-12-22 12:16] misku commented on #58
And happy new year!  🎆

[2018-01-19 21:20] salilgupta1 opened #59 "RETRY_COUNT is a misleading variable"
In the comments for the `initialize` method of the RedLock client `retry_count` is defined as: `being how many times it'll try to lock a resource (default: 3)`.

IMO, this is misleading. When I read `retry_count` I assume that it will try to lock the resource at least once before running the retry logic.

I think you should rename this variable to `try_count` if you do not want to make significant

[2018-01-19 23:04] leandromoreira commented on #59
You're right but maybe we can just add some context saying that this count is inclusive or something else.

[2018-01-19 23:41] salilgupta1 commented on #59
That's fine but it should be stated in the README documentation not just the code comments.

[2018-01-20 00:20] leandromoreira commented on #59
BTW, feel free to send PRs.

[2018-01-25 12:34] maltoe commented on #59
I'd try to go without renaming for the sake of not breaking API, yet, how do you feel about simply auto-increasing it by 1? :-) Would people notice? My guess, going along with what you said @salilgupta1, is that people who set `retry_count: 1` would expect at least 1 retry, so maybe we just give them that?

[2018-01-30 15:29] bmarkons opened #60 "Redlock::Client#lock raises error when one of the Redis instances is broken"
As far as I understand Redlock, it is about distributing locks across many instances in order to avoid single point of failure.

Here is the scenario which I don't get.

1. Spin up three redis instances.
2. Create redlock client connected to those three.
3. Call `client.lock("lock1", 10000)` which creates locks on all three instances successfully
4. Shut down one redis instance.
5. Try to acquire

[2018-01-30 15:52] leandromoreira commented on #60
Hi @bmarkons I think you can rely on `sentinel` for that matter.

[code]

But what you've described should be working, I was looking at the [code](https://github.com/leandromoreira/redlock-rb/blob/master/lib/redlock/client.rb#L175) and unless we're waiting too much (due to timeout) it should work as expected to you.

[2018-01-30 15:57] bmarkons commented on #60
I get the above error on this line when I shutdown one of the three instances:
https://github.com/leandromoreira/redlock-rb/blob/master/lib/redlock/client.rb#L113

I created client this way:
[code]

[2018-01-30 16:09] leandromoreira commented on #60
Let's this open when someone or @maltoe or I have time we can try to replicate and solve this issue.

[2018-02-27 11:29] maltoe commented on #60
hey @leandromoreira @bmarkons

The algorithm should be fine with it, right? I mean, if we were to rescue connection errors (and maybe warn about them somewhere?), the quorum should still make sure that we guarantee mutual exclusion?

[2018-02-27 11:29] #54 closed

[2018-02-27 11:32] maltoe commented on #47
in #62 I replaced this section in the README with a `while ...` based one. I.e. did not yield the `lock_info` object to the caller, as this block version is not meant to be combined with extend.

Still not perfect, people with actual acquire-extend process flows with need to do some more work, I think. But better than before.

@leandromoreira Ok with this?

[2018-02-27 14:34] #47 closed

[2018-02-27 14:34] #59 closed

[2018-04-20 17:25] rraghav opened #63 "Does redlock support Redis Cluster?"
Hi,

I am trying to use redlock with redis with cluster mode enabled. The redlock client doesn't currently handle MOVED errors which are thrown by redis in cluster mode.

Does redlock support redis cluster? If not, is there a way around this or do you know of any other potential solutions for locking with a redis cluster?

Thanks!

[2018-05-07 19:09] #60 closed

[2018-07-12 07:33] AndKiel opened #65 "Administrative commands cannot be effectively namespaced deprecation warning"
Warning:

Related issues in `redis-namespace` repository:
* https://github.com/resque/redis-namespace/issues/111
* https://github.com/resque/redis-namespace/issues/132

[2018-07-13 09:49] maltoe commented on #65
Please see https://github.com/leandromoreira/redlock-rb/issues/54

[2018-07-13 09:49] #65 closed

[2018-08-20 11:35] maltoe commented on #44
This is all fixed and we have TTL specs

[2018-08-20 11:35] #44 closed

[2018-08-20 15:58] #50 closed

[2018-09-04 15:33] jrochkind opened #68 "need docs for ttl"
I don't understand what the ttl does, with regard to locks and unlocks.

[code]

If the expensive_work is done shorter than the ttl, the lock is still released immediately at end of block, right?

If the expensive_work takes _longer_ than the ttl.... is the lock essentially released early? Is the ttl actually like a failsafe, in case the code crashed without unlocking?  Which effectively makes the

[2018-09-04 15:56] ryansch commented on #68
Here's the upstream design doc: https://redis.io/topics/distlock

[2018-09-28 18:38] jcobian opened #69 "Support for exponential backoff"
My understanding is that currently, redlock will retry a request to Redis every `retry_delay` milliseconds, with some `retry_jitter` jitter in between each request.

However, it would be nice if, either instead of or in addition to jitter, a user of redlock could a set a parameter to allow for exponential backoff between the retries. A user could also say what they want the base and max number of

[2018-10-01 17:53] latortuga opened #70 "Feature request: support Redis as a ConnectionPool"
We have a pool of Redis connections shared among our threaded webserver that we'd like to use to pass into Redlock but there's no way to initialize with a pool. Please consider adding support for this!

[2018-10-01 18:36] leandromoreira commented on #70
I think you can please look at `https://github.com/leandromoreira/redlock-rb/blob/master/lib/redlock/client.rb#L36`

[2018-10-01 18:45] leandromoreira commented on #70
https://github.com/leandromoreira/redlock-rb/blob/master/spec/client_spec.rb#L19

[2018-10-18 16:29] maltoe commented on #70
@latortuga Could you not simply check out the connections when initializing the `Redlock::Client`? Assuming you have a finite number of connection pools, you could do something like this

[code]

However, of course this would mean you have the first connection checked out for as long as it needs to set the lock in the second pool. Also you'd need to constantly recreate the client, although I'm ass

[2018-10-18 17:19] latortuga commented on #70
@maltoe certainly you could do it that way, though I don't think it's the right design for a locking mechanism. Checking out a Redis connection from your pool for the duration of a lock seems wasteful when you really only need it at the beginning and end. Doing it that way could increase the number of connections required in a multi-threaded environment.

Obviously this only applies to using the b

[2018-12-18 01:24] arthurbryant opened #72 "Test failed when using with fakeredis"
# env
[code]

After I used redlock and tried to run my test I got the folloing error.

# error

[code]

[2018-12-18 04:07] leandromoreira commented on #72
can you run `make test`? (which requires docker)

[2018-12-18 08:53] maltoe commented on #72
I think fakeredis doesn't support `script`... https://github.com/guilleiguaran/fakeredis/issues/94

Can you mock away calls to `Redlock::Client` in your tests?

[2019-01-09 00:11] arthurbryant commented on #72
@maltoe @leandromoreira

Yes. Seems like fakeredis doesn't support `script`. So I have to mock the `Redlock::Client` to make it work. Thank you for your help!

`spec/support/redlock.rb`

[code]

[2019-01-09 00:55] #72 closed

[2019-03-08 20:17] arzaidi commented on #63
Hi Ravi,
I know it is late, but since there are no replies so I thought to add my comments here. Actually when we use Redis Cluster then it means each node is having sharded data with no overlap with other nodes, so in my view you don't need a distributed locking there. When you wanna acquire a lock, this lock entry will always go to a particular single node (based on sharding). And once an applic

[2019-05-08 12:20] amanshary opened #76 "Timeout error causing a locked resource"
Hi, we are using _redlock 0.2.2_ with _redis 3.3.3_.
I checked the release notes of redlock 1.0 and newer redis.rb versions which didn't seems to fix the issue (see my analysis bellow).

We configured a short '_redis_timeout_' (0.02 seconds) in a certain flow, since then we see a weird behaviour from Redis:
After Redis:Timeout error ('rescue in _read_from_socket') it seems the resource is already

[2019-05-08 15:53] maltoe commented on #76
Hi @amanshary,

unfortunately, there's no way to tell inside Redlock whether the Timeout occurred within the command processing (the `write`) or the result reading. So, in my opinion, issuing an unconditional unlock after a timeout has occurred is not an ideal solution, more like cracking a nut with a sledgehammer. Also, the unlock is likely to suffer from the same timeout errors as well, isn't it

[2019-05-08 16:00] maltoe commented on #76
Maybe to clarify why I'm unsure about your suggested solution of calling `unlock` when a timeout is raised from Redis:

Unlocking in Redlock is already a best effort approach, see [here](https://github.com/leandromoreira/redlock-rb/blob/bd4bb41491feaa2d52599e2458b09152c82577c2/lib/redlock/client.rb#L136). So even when we implement `lock` as you suggest, you don't really get a guarantee that a lock

[2019-05-08 16:02] amanshary commented on #76
Hi,
Regarding the 20ms timeout, what is a reasonable timeout? Our idea was to check the 95% of the connection time in order to avoid network slowness.
As you mentioned it is indeed too low (:

Thank you for your quick response!
Asaf

[2019-05-08 19:31] maltoe commented on #76
I don't know, sorry. The default in redis-rb is [5 seconds](https://github.com/redis/redis-rb/blob/03e70f323400bb6e87653bec6eb62b43725d5f28/lib/redis/client.rb#L16), but I guess it depends on what you're trying to achieve, i.e. what latency requirements you have, and of course on your infrastructure (i.e. same host / same physical network allows for lower timeouts). But I have very little knowledg

[2019-05-09 07:46] #76 closed

[2019-05-29 12:11] amanshary opened #78 "Handling timeout error from RedisClient"
Hi,
We receive Redis::TimeoutError, from Redlock::Client:127 which are not handled by Redlock::Client which causes 'deadlocked' instances.
For now we catch the exception in order to handle it however the to fix the deadlock we need a feature request from redlock.

I would like to change the rescue at line 129 from 'CannotConnectError' to 'BaseConnectionError' which will cause the exception to be c

[2019-05-29 12:27] maltoe commented on #78
Hi @amanshary,

current master already rescues `BaseConnectionError`, see [here](https://github.com/leandromoreira/redlock-rb/blob/03d9366da1009cc07253c69270590c1d51e6aaed/lib/redlock/client.rb#L127)

[2019-05-29 12:28] maltoe commented on #78
@leandromoreira Can you make a release?

[2019-05-29 15:01] leandromoreira commented on #78
@maltoe sure =) I'll do it after lunch!

[2019-05-29 17:49] leandromoreira commented on #78
done!

[2019-06-02 11:11] amanshary commented on #78
@leandromoreira  thanks, upgraded the to 1.0.1 which seems to solve the issues. (hopefully..) :)
I had problems to integrate my specs because of commit 'e8389ac9e88d11bf50ebb170ce27f1d9b43a7483' (load scripts changes)- I used fakereids.rb which didn't throw this 'NOSCRIPT' as part of the exception message.
I would recommend opening a ticket to Redis.rb in order to throw 'no script error' class ins

[2019-06-02 11:11] #78 closed

[2019-11-14 13:52] maltoe commented on #68
@jrochkind You have to make sure that your code won't take longer than TTL, yes. Otherwise all hell will be lose.

If you say this needs more documentation in the docs, would you be willing to submit a PR for it?

[2019-11-14 13:54] maltoe commented on #63
Hi @rraghav,

no, sorry, at least there's no explicit support for Redis cluster. Unfortunately I don't have any means of trying it out right now, so I'm just going to close this. Also not knowledgeable enough to tell whether redlock (the algorithm) could cope with it from a design perspective.

[2019-11-14 13:54] #63 closed

[2019-11-15 18:53] johansmitsnl opened #83 "Connection issue"
With the new 1.1.0 release I have this issue now:
[code]

Testing mode code in the initializer is:
[code]

Why is this causing an error when running in bypass mode?

[2019-11-16 21:34] maltoe commented on #83
Hey @johansmitsnl,

since https://github.com/leandromoreira/redlock-rb/commit/b3df03885b80fbff126c42e8f0113aa0bf42e3bf `Redlock::Client::RedisInstance.initialize` will try to `load_scripts` again, which means establishing a connection to Redis (i.e. `:bypass` doesn't take effect there, and also it comes too late the way we set it as a member var on the `Redlock::Client` instance).

This is quite a

[2019-11-16 21:36] maltoe commented on #83
other ideas:

1. the member var `testing_mode` could IMO also be a class var (can't really see the use-case for configuring the test mode per redlock instance) -> but this would break the API
2. we could overwrite the `RedisInstance` initializer in `testing.rb` and drop the `load_scripts` again? Probably the easiest solution, but again feels a bit weird to deviate from the "production" code path a

[2019-11-16 21:40] johansmitsnl commented on #83
Some sdk's you need to initialise with a test mode option. That would be simple and sensible to me.

[2019-11-16 23:28] leandromoreira commented on #83
@maltoe I think the `test_mode` at the initialization should work, isnt?

[2019-11-21 11:21] nikolai-b opened #84 "Feature request: allow `lock!` to be extended"
I would like to extend a `lock!`

Would you consider making `lock!` return the `lock_info` and also allow it to be called without a block, e.g.

[code]

[2019-11-21 14:27] maltoe commented on #84
@nikolai-b Not sure I understand, what's the difference to `lock()` then? If it's only about the raise on error, why not do

[code]
?

[2019-11-21 14:38] nikolai-b commented on #84
No real difference, just often in rails bang methods do the same thing but `raise` instead of returning false / nil.

[code]

I understand that in ruby core the bang means it modifies the receiver.

Yes I can do what you suggest if you prefer to keep the `lock!` method having a different pattern but it surprised me and stops `lock!` being able to be extended.

[2019-11-21 16:10] maltoe commented on #84
Hmm, the original implementation of this dates back before I stumbled into this gem :)

I see what you mean now, and agree that the behaviour of `lock`/`lock!` is a bit confusing. TBH, I think the `lock` function probably just shouldn't accept a block at all (as when you call it with a block and don't validate the result, you're not sure the block was called at all), but that's probably a differen

[2019-12-06 15:52] johan-smits commented on #83
Any news on this?

[2019-12-06 16:55] maltoe commented on #83
@johan-smits Sorry for the delay, not have much time to work on this unfortunately.

🤔 I still think this should be a class attribute instead. I'd prefer not to patch more code in of `Redlock::Client` in `testing.rb` any further.

Threw together a quick fix that changes this to a class attribute. Breaking backwards-compatibility here, but in my eyes this was kind of an obscure feature? If you thin

[2019-12-06 16:57] maltoe commented on #83
IMO, if we go for an instance level solution though, this should preferrably be in the actual code, not patched in using some magic `testing.rb` file.

[2019-12-06 18:08] #83 closed

[2019-12-06 22:12] #68 closed

[2019-12-12 08:45] maltoe commented on #83
@johan-smits Did this solve your issue?

[2019-12-12 09:08] johan-smits commented on #83
@maltoe was not able to test it yet, hope to do so this week but will leave feedback!

[2019-12-20 15:16] johan-smits commented on #83
It looks ok to me. Had some trouble testing because a sub gem was hard locked to the working version `1.0.1` and had to make some changes to test the git commit.

Will this come into a new release and when is this scheduled? (no rush just as an indication)

[2020-02-06 14:12] #70 closed

[2020-02-06 21:58] #69 closed

[2020-10-06 16:52] feliperaul opened #94 "Question / feature request: abort block execution if ttl reached"
Given we use a gem like this to prevent the same block of code executing simultaneously, I think the `.lock` method should at least accept an option to abort the code execution if the `ttl` is reached.

As per [this](https://github.com/leandromoreira/redlock-rb/issues/68#issuecomment-553896810) comment, "You have to make sure that your code won't take longer than TTL".

Right now, if the ttl is re

[2020-10-06 17:37] leandromoreira commented on #94
Hi @feliperaul, thanks for the comment I appreciate it, what we also need to notice is:

* The coupling - should the Redlock (an implementation of a proposed distributed lock algorithm with Redis) be tied to how ruby blocks work?
* the boundaries of responsibilities - should the gem be responsible for aborting the execution code of a client? Isn't this outside of its expected behaviors?
* Also, ca

[2020-10-06 18:27] feliperaul commented on #94
@leandromoreira Thank you for the quick reply.

I arrived at this gem because I wanted to replace some `ActiveRecord#with_lock` calls in our application, because even tough they work great, there's no concept of "resource key", so even different pieces of code that are totally unrelated (and so could safely run simultaneously) end up blocking one another when you have your table row as your lockin

[2020-10-06 18:31] maltoe commented on #94
Hey @feliperaul, I agree with @leandromoreira in that the aborting of code execution is not something Redlock should handle, but should be handled in client code. Mostly because we don't know what said code does, if it is safe to interrupt, and, notably, **how** to interrupt it. See for reference [various](https://medium.com/@adamhooper/in-ruby-dont-use-timeout-77d9d4e5a001) [blog](https://jvns.ca

[2020-10-06 18:52] maltoe commented on #94
almost simultaneous posts 😃

If I may steal this question from you @leandromoreira; when we last used this gem in production, we made sure that the expected runtime of the critical section was reasonable short and the TTL was set to a value where we could be very confident that it would ever reach it.

And you're absolutely right about the different design principles of Redlock and a database tran

[2020-10-06 18:52] feliperaul commented on #94
@maltoe We commented within minutes so I think you hadn't heard my latest comment :)

The setting to abort the code execution could be an option with default `false`, but it would be nice to have, letting users know about their implications, maybe even referencing this very issue in the documentation.

Having said that, In an attempt to improve the current situation, how are you and @leandromoreir

[2020-10-06 18:55] maltoe commented on #94
again :)

That's a perfectly fine choice, but IMO you should implement this in client-code, not within this library. Otherwise people will be getting after to us because our "code termination" logic failed.

As said, any docs improving PR is more than welcome! Also, if you have a nice, reliable way of aborting this block, feel free to post it here or in a PR and we can look at it. At least mention

[2020-10-06 18:58] maltoe commented on #94
Ah, by the way:

I personally never used the `extend` feature. It was [submitted] by someone to fix an issue and I - again, personally - wasn't super convinced that it is a great idea.

[2020-10-06 19:00] maltoe commented on #94
one more thought because I must have skipped this before:

At least Postgres does have ["advisory locks"](https://www.postgresql.org/docs/9.4/explicit-locking.html#ADVISORY-LOCKS) which do offer a resource key and have a transactional and non-transactional variant. And pretty sure other RDBMS have similar functionality.

[2020-10-06 19:19] feliperaul commented on #94
@maltoe Thanks a lot for pointing me to that! My situation is **exactly** the one you described (there is no row to lock yet), and the row that already exists is very hot and I don't want to use it as an anchor for locking.

A quick google search revealed https://github.com/ClosureTree/with_advisory_lock, which has support for MySql and is up-to-date with Rails 6.

I'll give it a try later on toda

[2020-11-04 17:17] Martin-Nyaga opened #95 "Question/Feature Request: How to check if lock has expired?"
I am running some tasks that could have a fairly wide variability in execution times due to reasons outside of my application's control. Despite this, I need to guarantee that the task executes exclusively. I've read through the discussion at #94, and I understand that mutual exclusion is only guaranteed for the requested TTL. I think the compromises made with respect to this guarantee are sensibl

[2020-11-04 19:43] maltoe commented on #95
Hey @Martin-Nyaga,

usually @leandromoreira and I try to talk people out of enhancing this Gem in any way, mostly because we both have moved on to other projects and are not actively using Redlock anymore (AFAIK, could be wrong for Leandro, not sure) and while the gem works well for the limited use-cases it supports, any new feature will lead to more maintenance.

Besides, the code (including the

[2020-11-04 20:01] maltoe commented on #95
🤔  Thinking about this some more, there are in fact multiple approaches you could take here, as the minimum TTL of a 3 selection of our 5 servers can actually vary. So if we're aiming for "maximum remaining TTL" (and script->server roundtrip is short), we could as well get all servers, then drop the least TTL values of n/2-1 servers (so half quorum servers still remain), and *then* return the mini

[2020-11-04 23:45] Martin-Nyaga commented on #95
Thanks for the quick response! I've spent some time studying the code and the algorithm, and here's my thoughts on some of the comments:

Gotcha. I'll make a first pass with minimal refactoring, then see if some refactoring is possible without changing the performance characteristics of any potentially critical code.

I'm by no means an expert, but here's my analysis. Indeed the minimum TTL of an

[2020-11-04 23:58] Martin-Nyaga commented on #95
Here's a quick demo of the results you would get using the different approaches;
[code]
Output:
[code]

In this case, querying all servers would be worth it if it took << 20ms.

[2020-11-05 09:35] maltoe commented on #95
@Martin-Nyaga

This is a nice way to describe it. IMO the added complexity of querying all servers to potentially get a little bit closer to the "maximum" remaining TTL is probably overkill, and in the face of the server drift even probably not useful, as you described. Hence I'd say let's not do it, stop querying the servers once you have n/2+1 results, and put your sentence above in a nice comme

[2020-11-05 11:03] Martin-Nyaga commented on #95
@maltoe I agree 👍

[2020-11-12 18:52] #94 closed

[2020-12-01 12:37] Martin-Nyaga commented on #95
@leandromoreira @maltoe I believe we can close this now that the PR is merged. Are you planning on releasing a bumped version? Probably it would be a minor version because all the changes are backwards compatible.

[2020-12-02 12:44] leandromoreira commented on #95
@Martin-Nyaga thanks a lot, yes I can try to do the bump today ... @maltoe do you want to add something else?

[2020-12-08 13:16] leandromoreira commented on #95
@Martin-Nyaga sorry for the LONG DELAY and thanks for the contribution

https://github.com/leandromoreira/redlock-rb/releases/tag/1.2.1

👏 👏 👏 👏 👏 👏

[2020-12-08 16:06] Martin-Nyaga commented on #95
@leandromoreira that's great 🎉 ! You're welcome, and I'm happy to help out with the repo if you ever need an extra pair of hands. I think I have a decent grasp of the code after working on this.

[2020-12-08 16:06] #95 closed

[2021-03-29 02:39] costi opened #99 "Race condition in #unlock"
What if by the time we call `get` and `del` a new lock gets created?

https://github.com/leandromoreira/redlock-rb/blob/master/lib/redlock/client.rb#L146-L150
[code]

[2021-03-29 07:37] maltoe commented on #99
Redis scripts are executed atomically https://redis.io/commands/eval#atomicity-of-scripts

[2021-03-29 07:37] #99 closed

[2021-09-17 16:26] leandromoreira opened #106 "CI is not working"
https://travis-ci.org/github/leandromoreira/redlock-rb/jobs/748334352

[2022-01-20 06:20] wikimo opened #107 "lock fail frequently"
### Scence：
Use redlock to lock product record when reduce the stock number. code like that:

[code]

---

When high concurrency level (like more than 2000 - 5000 req/s),  product_lock fail frequently.
We don't want to use the db lock, because it can make deadlock sometime. And we also use the retry setting, but not go well.

[code]

What should we do ? Thanks for your help!

[2022-01-28 10:26] leandromoreira commented on #107
Hi,

I don't know what's causing your racing condition but I think you can.

[code]

[2022-02-02 11:54] bguban commented on #107
@wikimo I guess you have too small `retry_count` value and too big `retry_delay`. if you have 2000 requests in parallel then most likely 99% of attempts to take the lock are unsuccessful. 5 times is just not enough to be successful. Also, check `retry_jitter` value. It should be smaller than `retry_delay`.

@leandromoreira I feel that using `retry_count`, `retry_delay` and `retry_jitter` is inconv

[2022-02-09 01:34] wikimo commented on #107
Thanks for your help! I will try them. @leandromoreira @bguban

[2022-02-22 22:04] marcilioLemos opened #108 "Redlock::Client.lock returns false when there is a connection issue"
Hello, everyone. I want to use redlock to implement a rate limit so that duplicate requests within a certain time frame are dropped. According to the documentation, if an attempt to acquire a lock fails, the lock method returns false. At the same time, after rescuing exceptions, lock returns false. Such behavior, in my opinion, is dangerous and an anti-pattern. If a client receives a false respons

[2022-05-17 08:54] Hammam94 opened #109 "unlock method returns NoMethodError: undefined method `[]' for false:FalseClass"
the unlock method returns `NoMethodError: undefined method '[]' for false:FalseClass`

my code
` lock_manager = Redlock::Client.new(REDIS_LOCKING[:servers])`
` lock_info = lock_manager.lock(retailer_id.to_s, REDIS_LOCKING[:ttl])`
`.....`
` lock_manager.unlock(lock_info)`
error from sentry
<img width="1440" alt="Screen Shot 2022-05-17 at 10 53 16 AM" src="https://user-images.githubusercontent.com/1

[2022-05-19 01:26] marcilioLemos commented on #108
Thank you for sharing your thoughts on this issue. I am available to assist with the implementation or revision of the PR. On the other hand, it appears that this repository has not been maintained for long.

[2022-05-22 10:00] leandromoreira commented on #108
It's stable with few changes here and there but I think it's still active, go ahead and do your PR any thoughts @maltoe ?

[2022-05-22 10:02] leandromoreira commented on #109
Hey @Hammam94 I think it's because your fist attempt to acquire the lock have failed.

[code]

You can not assume that you will get lock in any point.

[2022-07-01 15:26] billaul opened #111 "[Question] about the `NX` flag"
Hello

At risk to look like a complet brainless person.
Why don't you use the flag `NX` when you try get a lock ?
I understand why `NX` is a problem when you want to extand a lock.
But after reading [redis paper](https://redis.io/docs/reference/patterns/distributed-locks/#making-the-algorithm-more-reliable-extending-the-lock), `NX` seems mandatory for all new lock.

Did i miss something critical ?

[2022-08-29 16:05] jkogara opened #114 "Latest redis client not supported"
* As subject
* The latest (5.x) version of redis is not supported - https://github.com/redis/redis-rb
* It "should" be enough to update the dependencies.

[2022-09-27 14:40] panozzaj commented on #108
This should now be fixed by #110, motion to close.

[2022-10-17 01:49] y-yagi opened #119 "Does v1.3.1 not have any code changes?"
Hi. I checked the changing of v1.3.1 with GitHub's comparing changes page. But I couldn't see any changes of codes.
https://github.com/leandromoreira/redlock-rb/compare/1.3.0...1.3.1

According to the release page, v1.3.1 would be including changes of https://github.com/leandromoreira/redlock-rb/pull/110. But I couldn't see that changes. I also checked the source codes of the gem file,  but it see

[2022-10-17 11:22] mobilutz commented on #119
I was also stumbling over this.

It looks that the change from `master` to `main` branch was not done 100%.

There are diffs between 1.3.1 and `main`:
https://github.com/leandromoreira/redlock-rb/compare/1.3.1...main

[2022-10-17 13:52] leandromoreira commented on #119
Well, I thought I did maybe my master local branch is not updated https://github.com/leandromoreira/redlock-rb/pull/118/files :(

[2022-10-17 14:00] leandromoreira commented on #119
now it should be done, sorry people

[2022-10-17 21:26] leandromoreira commented on #119
can i close it now?

[2022-10-17 22:03] y-yagi commented on #119
I could confirm the new release and that has included changes. Thanks!

[2022-10-17 22:03] #119 closed